---
- name: Tear Down MySQL Database Environment
  hosts: localhost
  connection: local
  gather_facts: false
  
  vars:
    mysql_container_name: "mysql_db_automation"
    
  tasks:
    - name: Stop MySQL container
      community.docker.docker_container:
        name: "{{ mysql_container_name }}"
        state: stopped
      ignore_errors: yes
      
    - name: Remove MySQL container
      community.docker.docker_container:
        name: "{{ mysql_container_name }}"
        state: absent
      ignore_errors: yes
      
    - name: Remove Flyway network
      community.docker.docker_network:
        name: flyway_network
        state: absent
      ignore_errors: yes
      
    - name: Remove MySQL data volume (optional - uncomment if needed)
      community.docker.docker_volume:
        name: mysql_data
        state: absent
      when: false
      
    - name: Display success message
      debug:
        msg: "MySQL environment torn down successfully!"